extends layout

block content
  h1= title
  p nodemon added for reals!
  p Welcome to #{title}
  div(class ="g-signin2" data-onsuccess="onSignIn" data-theme="dark", data-prompt="select_account")
  a(href="#" onclick="signOut();") Sign Out
  div#userId
  div#loginState
  script(src="javascripts/login.js")
