extends layout

block content
    form.form-signin(method='post', action='/login')

        h3.form-signin-heading Nodejs MySQL Login Script
        |
        if(message)
        p(style='color:red') #{message}
        input.form-control(type='text', name='username', placeholder='Username')
        |
        input.form-control(type='password', name='password', placeholder='Password')
        label.checkbox
        |
        button(type='submit') Login
    form.form-logout(method='get', action = '/logout')
        button(type='submit') Logout